@import "tailwindcss";


#Project_1 {
    background-image: url('./Images//Frontend_LandingPage.jpeg');
    width: 100%;
    height: 20rem;
    border-radius: 1.5rem;
    box-shadow: 0 25px 50px -12px rgba(156, 163, 175, 1);
}